<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>82319307985-42spkkp6al1tcndisvsfn09bjijqkecl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.82319307985-42spkkp6al1tcndisvsfn09bjijqkecl</string>
	<key>API_KEY</key>
	<string>AIzaSyBgcXUJvq4h53z81fRGq0rMd6QFE7u56aE</string>
	<key>GCM_SENDER_ID</key>
	<string>82319307985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dreamerongo.HawkIt</string>
	<key>PROJECT_ID</key>
	<string>hawkit-f896d</string>
	<key>STORAGE_BUCKET</key>
	<string>hawkit-f896d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:82319307985:ios:cc37b7bcd3a0a6a4</string>
	<key>DATABASE_URL</key>
	<string>https://hawkit-f896d.firebaseio.com</string>
</dict>
</plist>